* {
  font-family: "Raleway";
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.text {
  font-size: 18px;
}

.p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.section-primary .elementor-container {
  max-width: 1600px !important;
}
.section-primary .elementor-container .col-left, .section-primary .elementor-container .col-right, .section-primary .elementor-container .col-content-primary {
  display: flex;
  align-items: center;
}
.section-primary .elementor-container .col-left .txt-primary-content, .section-primary .elementor-container .col-right .txt-primary-content, .section-primary .elementor-container .col-content-primary .txt-primary-content {
  max-width: 700px;
  color: #2D435A;
}
.section-primary .elementor-container .col-left .img-primary img, .section-primary .elementor-container .col-right .img-primary img, .section-primary .elementor-container .col-content-primary .img-primary img {
  border-radius: 26px;
  box-shadow: 0 3px 15px rgba(0, 3, 15, 0.16);
}
.section-primary .elementor-container .col-left {
  padding-right: 60px;
}
.section-primary .elementor-container .col-right {
  padding-left: 60px;
}

.section-title-primary {
  padding: 50px 0;
}
.section-title-primary .col-title-primary .title-primary, .section-title-primary .col-title-primary .title-secondary {
  margin: auto;
}
.section-title-primary .col-title-primary .title-primary {
  max-width: 650px;
  text-align: center;
  color: #2D435A;
  padding-bottom: 30px;
}
.section-title-primary .col-title-primary .title-secondary {
  color: #DAA000;
}

.elementor-button {
  transition: unset !important;
}
.elementor-button:visited {
  color: #2D435A !important;
}

.elementor-element-populated {
  padding: 0px !important;
}

@font-face {
  font-family: "ChillaxSB";
  src: url("../fonts/chillax/Chillax-Semibold.otf");
  font-weight: 500;
}
@font-face {
  font-family: "ChillaxM";
  src: url("../fonts/chillax/Chillax-Medium.otf");
}
@font-face {
  font-family: "ChillaxR";
  src: url("../fonts/chillax/Chillax-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-VariableFont_wght.ttf");
}
.btn-form-princ {
  height: 66px;
  border: solid 1px;
  border-radius: 32px;
  width: auto;
}
.btn-form-princ .elementor-widget-container .elementor-button-wrapper a {
  height: 100%;
  width: 100%;
  line-height: 66px;
  padding: 0px 25px;
}
.btn-form-princ .elementor-widget-container .elementor-button-wrapper a span {
  font-family: "ChillaxSB" !important;
}

.btn-header-home {
  height: 80px;
  border: solid 1px;
  border-radius: 40px;
  width: auto;
  border-color: #2D435A !important;
  width: auto !important;
}
.btn-header-home .elementor-widget-container .elementor-button-wrapper a {
  height: 100%;
  width: 100%;
  line-height: 81px;
  padding: 0 40px;
  font-size: 20px;
  color: #2D435A;
}
.btn-header-home .elementor-widget-container .elementor-button-wrapper a:hover {
  color: #2D435A;
}
.btn-header-home .elementor-widget-container .elementor-button-wrapper a span {
  font-family: "ChillaxSB" !important;
}
.btn-header-home:hover {
  background-color: #2D435A;
}
.btn-header-home:hover a {
  color: #FFFF !important;
}

.title-h1, .title-h3, .title-h4, .title-h5 {
  width: auto !important;
  margin-bottom: 0px !important;
}
.title-h1 h1, .title-h1 h3, .title-h1 h4, .title-h1 h5, .title-h1 span, .title-h3 h1, .title-h3 h3, .title-h3 h4, .title-h3 h5, .title-h3 span, .title-h4 h1, .title-h4 h3, .title-h4 h4, .title-h4 h5, .title-h4 span, .title-h5 h1, .title-h5 h3, .title-h5 h4, .title-h5 h5, .title-h5 span {
  font-family: "ChillaxSB" !important;
}

.title-h1 {
  font-size: 35px;
}
.title-h1 h1 {
  line-height: 60px;
}

.title-h3 {
  font-size: 32px;
}
.title-h3 h3 {
  line-height: 45px;
}

.title-h3-w {
  color: #FFFF;
}

.title-h4 {
  font-size: 24px;
}
.title-h4:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -30px;
  background-image: url("../icons/mouse-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: -18px;
}
.title-h4 h4 {
  line-height: 35px;
}

.title-h4-y {
  color: #DAA000;
}

.title-h4-left h4 {
  font-family: "ChillaxR" !important;
}

header {
  display: flex;
  justify-content: space-between;
  height: 140px;
  padding: 0 30px;
  font-weight: 500;
  color: #2D435A;
}
header .logo-header-desktop {
  height: auto;
  display: flex;
  align-items: center;
}
header .logo-header-desktop .logo-default {
  height: 95px;
}
header .menu-menu-principal-container {
  display: flex;
  align-items: center;
}
header .menu-menu-principal-container .menu {
  display: flex;
  align-items: center;
}
header .menu-menu-principal-container .menu li {
  position: relative;
  height: 100%;
  margin: 0 15px;
}
header .menu-menu-principal-container .menu li:nth-of-type(3), header .menu-menu-principal-container .menu li:nth-of-type(4) {
  display: flex;
  align-items: center;
  height: 66px;
  border: solid 1px;
  border-radius: 32px;
  width: auto;
}
header .menu-menu-principal-container .menu li:nth-of-type(3):after, header .menu-menu-principal-container .menu li:nth-of-type(4):after {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
}
header .menu-menu-principal-container .menu li:nth-of-type(1) {
  margin-right: 25px;
}
header .menu-menu-principal-container .menu li:nth-of-type(3) a, header .menu-menu-principal-container .menu li:nth-of-type(4) a {
  height: 100%;
  width: 100%;
  line-height: 66px;
  z-index: 99;
  position: relative;
  padding-right: 65px;
  padding-left: 20px;
}
header .menu-menu-principal-container .menu li:nth-of-type(3):after, header .menu-menu-principal-container .menu li:nth-of-type(4):after {
  position: absolute;
  right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
header .menu-menu-principal-container .menu li:nth-of-type(3) {
  border-color: #2D435A;
  margin-left: 35px;
}
header .menu-menu-principal-container .menu li:nth-of-type(3):hover {
  background-color: #2D435A;
}
header .menu-menu-principal-container .menu li:nth-of-type(3):hover:after {
  transform: translateY(5px);
  transition: 0.3s;
  background-image: url("../icons/down-arrow-white.svg");
}
header .menu-menu-principal-container .menu li:nth-of-type(3) a:hover {
  color: #FFFF;
}
header .menu-menu-principal-container .menu li:nth-of-type(3):after {
  background-image: url("../icons/down-arrow.svg");
}
header .menu-menu-principal-container .menu li:nth-of-type(4) {
  background-color: #DAA000;
  border-color: #DAA000;
  margin-right: 0px;
}
header .menu-menu-principal-container .menu li:nth-of-type(4):hover {
  opacity: 0.9;
}
header .menu-menu-principal-container .menu li:nth-of-type(4):hover:after {
  transform: rotate(-15deg);
  width: 27px;
  transition: 0.3s;
}
header .menu-menu-principal-container .menu li:nth-of-type(4):after {
  background-image: url("../icons/icon-contact-menu.svg");
  background-repeat: no-repeat;
}
header .menu-menu-principal-container .menu li:nth-of-type(4) a {
  color: #FFFF;
}
header .menu-menu-principal-container .menu li a {
  font-family: "ChillaxSB";
  color: #2D435A;
}

.section-first-home {
  height: calc(100vh - 140px);
  min-height: calc(950px - 140px);
  max-height: 1100px !important;
  overflow: hidden;
}
.section-first-home .elementor-container {
  height: calc(100vh - 140px);
  min-height: calc(950px - 140px);
  max-height: 1100px !important;
  position: unset !important;
  max-width: 2500px !important;
  justify-content: center;
}
.section-first-home .elementor-container .col-img {
  position: unset;
  padding-right: 95px;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap {
  position: unset;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper {
  position: relative;
  z-index: 99;
  width: 100%;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper .swiper {
  position: unset;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper .swiper .swiper-pagination {
  position: absolute;
  bottom: -30px;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  border: solid 2px #2D435A;
  opacity: 1;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2D435A;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper .swiper .swiper-pagination .swiper-pagination-bullet, .section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper .swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper:before, .section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 50%;
  max-width: 215px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper:before {
  right: -5%;
  top: -25%;
  background-image: url("../icons/grid-yellow-for-bgw.svg");
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .the-swiper:after {
  left: -5%;
  bottom: -25%;
  background-image: url("../icons/grid-blue-for-bgwy.svg");
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .form-yellow {
  width: 48%;
  position: absolute;
  left: 0;
  bottom: -10%;
}
.section-first-home .elementor-container .col-img .elementor-widget-wrap .form-yellow img {
  width: 100%;
}
.section-first-home .elementor-container .col-content-primary {
  max-width: 850px;
}
.section-first-home .elementor-container .col-content-primary .title-h1 {
  margin-bottom: 0px;
  color: #DAA000;
  position: relative;
  width: auto;
}
.section-first-home .elementor-container .col-content-primary .title-h1:after {
  top: calc(60px - 10px);
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -30px;
  background-image: url("../icons/mouse-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.section-first-home .elementor-container .col-content-primary .title-h1 h1, .section-first-home .elementor-container .col-content-primary .title-h1 span {
  line-height: 60px;
}
.section-first-home .elementor-container .col-content-primary .title-h1 h1 span, .section-first-home .elementor-container .col-content-primary .title-h1 span span {
  color: #2D435A;
}
.section-first-home .elementor-container .col-content-primary .title-h2 {
  margin: 50px 0;
  color: #2D435A;
  max-width: 700px;
}
.section-first-home .elementor-container .col-content-primary .title-h2 h2 {
  font-weight: 500;
}
.section-first-home .elementor-container .col-content-primary .title-h2 h2, .section-first-home .elementor-container .col-content-primary .title-h2 span {
  font-size: 18px;
  line-height: 30px;
}
.section-first-home .elementor-container .col-content-primary .title-h2 span {
  color: #DAA000;
  font-weight: 700;
}

.section-title-left-bb {
  padding: 50px 0;
  background-color: #2D435A;
}
.section-title-left-bb .col-title-left-bb .elementor-widget-wrap {
  flex-direction: column;
  justify-content: center;
}
.section-title-left-bb .col-title-left-bb:before {
  content: "";
  background-image: url("../icons/icon-d-yellow-op13.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: calc(45px + 35px * 2);
  display: block;
  margin-right: 20px;
}

.section-bb {
  padding: 50px 0;
  background-color: #2D435A;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
  background-color: rgba(125, 149, 175, 0.35);
  border-radius: 26px;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .icon-site {
  margin-top: 20px;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .title-site {
  width: 100% !important;
  font-size: 24px;
  color: #FFFF;
  text-align: center;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .title-site h5 {
  max-width: 80%;
  margin: auto;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .separator-sites {
  margin: 20px 0 0 0;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .separator-sites .elementor-divider-separator {
  height: 1px;
  background-color: rgba(159, 159, 159, 0.25);
  border-top: unset;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .list-sites {
  color: #DDE5ED;
  font-size: 16px;
  padding: 0px 30px;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .list-sites ul li {
  font-family: "ChillaxSB";
  line-height: 70px;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .list-sites ul li svg {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .btn-sites {
  height: 66px;
  border: solid 1px;
  border-radius: 32px;
  width: auto;
  background-color: #DAA000;
  border-color: #DAA000;
  margin: 0 auto 20px auto;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .btn-sites a {
  color: #2D435A;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites .btn-sites:hover {
  transition: 0.3s;
  opacity: 0.9;
}
.section-bb .col-sites-types .inner-section-sites .inner-col-sites:nth-of-type(1) {
  margin-right: 45px;
}

.section-b-v3 {
  background-color: rgba(125, 149, 175, 0.08);
}

.section-site-vitrine {
  padding: 65px 0;
}
.section-site-vitrine .col-content-primary .btn-site-vitrine {
  width: auto;
  border-color: #2D435A;
}
.section-site-vitrine .col-content-primary .btn-site-vitrine .elementor-widget-container .elementor-button-wrapper a {
  color: #2D435A;
}
.section-site-vitrine .col-content-primary .btn-site-vitrine .elementor-widget-container .elementor-button-wrapper a span {
  font-size: 18px;
  font-family: "ChillaxM" !important;
}
.section-site-vitrine .col-content-primary .btn-site-vitrine:hover {
  background-color: #2D435A;
}
.section-site-vitrine .col-content-primary .btn-site-vitrine:hover .elementor-widget-container .elementor-button-wrapper a {
  color: #FFFF;
}
.section-site-vitrine .col-content-primary .btn-site-vitrine:hover .elementor-widget-container .elementor-button-wrapper:hover {
  transition: 0.3s;
}

/*# sourceMappingURL=main.css.map */
