@font-face
  font-family: 'ChillaxSB'
  src: url('../fonts/chillax/Chillax-Semibold.otf')
  font-weight: 500

@font-face
  font-family: 'ChillaxM'
  src: url('../fonts/chillax/Chillax-Medium.otf')


@font-face
  font-family: 'ChillaxR'
  src: url("../fonts/chillax/Chillax-Regular.otf")
  font-weight: 400

@font-face
  font-family: 'Raleway'
  src: url('../fonts/raleway/Raleway-VariableFont_wght.ttf')
