//COLORS
$cPrinc: #DAA000
$cSecond: #2D435A
$cThird: #7D95AF
$cWhite: #FFFF

//BORDER RADIUS
$BorderRadiusBtn : 32px
$BorderRadiusBtnXL : 40px

//BTN
$HeightBtnPrinc : 66px
$HeightBtnSecond: 81px

//HEIGHT MENU TOP
$HeightMenuTop: 140px

//H1
$lineHeight: 60px