@import "../../../../nicolasdelacroix/assets/sass/utils/variables"
@import "../../../../nicolasdelacroix/assets/sass/utils/mixins"

.section-btn-center
  padding: 50px 0
  .elementor-container
    .btn-form-princ
      margin: auto

.btn-form-princ
  width: auto!important
  margin-bottom: 0px!important
  text-transform: uppercase
  letter-spacing: 1px
  a
    width: 100%
    padding: 10px 20px 10px calc( #{$WidthFormBtn} + 20px)
    line-height: 50px
    transition: $durationTransitionBtn
    display: flex
    align-items: center
    &:before
      content: ''
      background-color: $cWhite
      transition: $durationTransitionBtn
      position: absolute
      top: 0px
      bottom: 0px
      left: 0px
      z-index: 50
      transform: skew(-15deg)
      border: none
      width: $WidthFormBtn
    &:after
      transform: skew(-15deg)
      content: ''
      border: none
      position: absolute
      display: block
      top: 0
      left: 0
      right: 0
      bottom: 0
      @include BoxShadow
    .elementor-button-content-wrapper
      &:before
        content: ''
        @include BgContain
        width: 25px
        height: 25px
        display: block
        z-index: 51
        position: absolute
        left: calc( #{$WidthFormBtn} - 25px)
        top: 50%
        transition: $durationTransitionBtn
        transform: translate(-50%,-50%)
      .elementor-button-text
        z-index: 50
        font-family: 'ChillaxSB'
        transition: $durationTransitionBtn
  a:hover
    &:after
      right: -10px
      transition: $durationTransitionBtn
    &:before
      width: 55px
      transition: $durationTransitionBtn
    .elementor-button-content-wrapper
      &:before
        left: calc( #{$WidthFormBtn} - 20px)
        transition: $durationTransitionBtn
      .elementor-button-text
        transform: translateX(10px)
        transition: $durationTransitionBtn

.btn-b
  a:after
    background-color: $cSecond
  .elementor-button-content-wrapper
    &:before
      background-image: url("../icons/arrow-btn-blue.svg")
.btn-y
  a:after
    background-color: $cPrinc
  .elementor-button-content-wrapper
    &:before
      background-image: url("../icons/arrow-btn-yellow.svg")

.btn-b-link
  .elementor-button-content-wrapper
    &:before
      background-image: url("../icons/icon-btn-b-link.svg")

//---BTN RADIUS SECOND

.btn-sites
  @include BtnFormPrinc
  background-color: $cPrinc
  border-color: $cPrinc!important
  margin: 0 auto 30px auto!important
  a
    padding: 0 20px
    @include BtnLinkCover
    .elementor-button-text
      font-family: 'ChillaxSB'
      color: $cSecond
      font-size: 18px





.section-btn-large
  padding: 80px 0
  .elementor-container
    max-width: 950px!important
    .col-btn-large
      .elementor-widget-wrap
        justify-content: center
        .btn-large
          width: 300px
          a
            padding: 30px
            font-size: 30px
            span
              font-family: 'ChillaxSB'
              .elementor-button-text
                display: flex
                flex-direction: column
                align-items: center
                &:after
                  content: ''
                  display: block
                  margin-top: 20px
                  background-image: url("../icons/right-arrow.svg")
                  @include BgContain
                  width: 40px
                  height: 40px
        .btn-large-y
          background-color: $cPrinc
        .btn-large-b
          background-color: $cSecond

