@import "../../../../nicolasdelacroix/assets/sass/utils/mixins"
@import "../../../../nicolasdelacroix/assets/sass/utils/variables"

header
  display: flex
  position: fixed
  justify-content: space-between
  width: 100%
  height: $HeightMenuTop
  padding: 0 30px
  font-weight: 500
  color: $cSecond
  background-color: $cWhite
  z-index: 999
  @include BoxShadow
  .logo-header-desktop
    height: auto
    @include FlexCenterH
    .logo-default
      height: 95px
  .menu-menu-principal-container
    @include FlexCenterH
    .menu
      @include FlexCenterH
      li
        position: relative
        height: 100%
        margin: 0 15px
        &:nth-of-type(3), &:nth-of-type(4)
          @include FlexCenterH
          @include BtnFormPrinc
          &:after
            content: ''
            display: inline-block
            height: 30px
            width: 30px
        &:nth-of-type(1)
          margin-right: 25px
        &:nth-of-type(3), &:nth-of-type(4)
          a
            @include BtnLinkCover
            z-index: 99
            position: relative
            padding-right: 65px
            padding-left: 20px
          &:after
            position: absolute
            right: 20px
            @include BgContain
        &:nth-of-type(3)
          border-color: $cSecond
          margin-left: 35px
          &:hover
            background-color: $cSecond
            a
              color: $cWhite
            &:after
              transform: translateY(5px)
              transition: .3s
              background-image: url("../icons/down-arrow-white.svg")
          &:after
            background-image: url("../icons/down-arrow.svg")
        &:nth-of-type(4)
          background-color: $cPrinc
          border-color: $cPrinc!important
          margin-right: 0px
          &:hover
            opacity: .9
            &:after
              transform: rotate(-15deg)
              width: 27px
              transition: .3s

          &:after
            background-image: url("../icons/icon-contact-menu.svg")
            background-repeat: no-repeat
          a
            color: $cWhite
        a
          font-family: 'ChillaxSB'
          color: $cSecond
      .menu-item-has-children
        a
          &:hover
            color: $cWhite
        .sub-menu
          display: none
          z-index: 99
          position: absolute
          width: auto
          padding-top: 220px
          border-radius: $BorderRadiusBtn
          li:first-of-type
            border-radius: $BorderRadiusBtn $BorderRadiusBtn 0 0
            border-bottom: solid 1px $cWhite
            &:before
              background-image: url("../icons/icon-sub-site-vitrine.svg")
          li:last-of-type
            border-radius: 0 0 $BorderRadiusBtn $BorderRadiusBtn
            &:before
              background-image: url("../icons/icon-sub-site-ecommerce.svg")
          li
            margin: 0px
            text-align: right
            background-color: $cPrinc
            &:before
              position: absolute
              content: ''
              display: inline-block
              @include BgContain
              height: 30px
              width: 30px
              left: 17.5px
              top: 50%
              transform: translateY(-50%)
            &:hover
              background-color: $cSecond
          li
            a
              color: $cWhite
              padding-left: 65px
              padding-right: 20px
              width: 100%
              display: block

        .sub-menu-display
          display: block











