@import "../../../../nicolasdelacroix/assets/sass/utils/mixins"
@import "../../../../nicolasdelacroix/assets/sass/utils/variables"

.list-check-y
  color: $cPrinc
  line-height: 50px
  ul
    li
      .elementor-icon-list-icon
        svg
          width: 41px!important
          height: 41px!important
          image
            width: 100%
            object-fit: contain
            height: 100%
      .elementor-icon-list-text
        font-size: 18px
        font-weight: 500!important